@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500i');

html, body {
	height: 100%;
}

body {
	background-color: #555;
}

.container {
	background-color: #fff;
	min-height: 100%;
	box-shadow: 0 0 30px black;
}

div.main {
	width: 90%;
	margin-top: 30px;
}

div.page-header h1 {
	font-family: alegreya sans sc, arial;
	color: #555;
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 30px;
}

div.instructions {
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.instructions-btn {
	text-align: center;
}

.instructions-btn a {
	background-color: #fff;
	text-decoration: none;
	border: 1px solid #555;
	color: #555;
	font-family: alegreya sans sc, arial;
}

.instructions-btn a:hover {
	background-color: #555;
	border: 1px solid #fff;
}

div.instructions p {
	font-family: alegreya sans sc, arial;
	color: #555;
	font-size: 18px;
	font-weight: bold;
}

div.select-div {
	width: 50%;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.select-div select {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	font-family: alegreya sans sc;
	font-weight: bold;
	color: #555;
	border: 0;
	outline: 0;
	border-bottom: 2px solid #555;
	background-color: #fff;
	overflow: hidden; 
	-webkit-appearance: none;
	-moz-appearance: none;
	text-align-last: center;
}

div.calc-header h2 {
	font-family: alegreya sans sc, arial;
	font-size: 35px;
	color: #555;
	font-weight: bold;
}

div.main div.high-tier {
	width: 25%;
}

input[type=tel] {
	font-family: alegreya sans sc, arial;
	font-weight: bold;
	color: #555;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 0;
	outline: 0;
	border-bottom: 2px solid #555;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	background-color: #fff;
}

div.button-div {
	width: 82px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

button {
	font-family: alegreya sans sc;
	font-weight: bold;
	font-size: 20px;
	margin: 2px;
	border: 0;
	outline: 0;
	border-bottom: 2px solid #555;
	color: #555;
	width: 80px;
	box-sizing: border-box;
	background-color: #fff;
	float: left;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

div.answer {
	white-space: nowrap;
	border: 0;
	outline 0;
	border-bottom: solid 2px #555;
	width: 40%;
}

div.answer h3 {
	font-family: alegreya sans sc, arial;
	color: #555;
	font-weight: bold;
	font-size: 20px;
}

#answer {
	font-family: alegreya sans sc, arial;
	color: #555;
	font-weight: bold;
}

div.donate-button {
	border: none;
	margin-top: 50px;
}

div.donate-button input {
	width: 100%;
}

input:focus {
	outline: none;
}